#rainbow-block {
    height: 100px;
    width: 100%;
    background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
}

#horn-block {
    width: 0; 
    height: 0; 
    margin-top: -40px;
    margin-left: 100px;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 120px solid gray;
}

